body {
  background-color: aqua;
}

h1 {
  color: rgb(17, 17, 17);

  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.ul {
  color: rgb(17, 17, 17);
  text-align: center;
  list-style: inside;
  margin-top: 100px;
  margin-bottom: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
